.res-content {
  background-color: rgba(242, 246, 251, 0.538);
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  padding: 25px;
  color: black;
  @media (min-width: 320px) and (max-width: 480px) {
    max-width: 245px;
  }
  @media (min-width: 381px) and (max-width: 767px) {
    max-width: 300px;
  }

  @media screen and (min-width: 768px) {
    max-width: 380px;
  }

  @media screen and (min-width: 1366px) {
    max-width: 820px;
  }
}

.res-content a {
  color: black;
}

.btn-send-me {
  background-color: #b5a1a1;
  box-shadow: 2px 2px 5px rgb(81, 70, 70);

  border-radius: 5px;
  padding: 10px 40px;
  border: none;
  font-size: large;
  font-weight: 700;
  margin: 20px auto;
  &:hover {
    background-color: rgba(77, 225, 92, 0.645);
    transition: background-color, box-shadow 250ms linear;
    box-shadow: 10px 5px 5px rgb(81, 70, 70);
  }
}
