<div class="res-content">
  <div class="btnPdff">
    <h3>Front-End <span class="lng-devel">Developer</span></h3>

    <a
      href="https://drive.google.com/file/d/18_P94g06Zjmc5aJEaOd8tWen18pXJJ1o/view?usp=sharing"
      target="_blank"
      class="btnPdf lng-pdf"
      >download resume PDF</a
    >
  </div>

  <h1 class="lng-title">Alexey Demydov</h1>

  <h2 class="lng-summ">Summary</h2>

  <p class="lng-summText">
    I am a front-end developer looking for a full-time job in company. I have
    good knowledge of HTML, CSS and JavaScript. In addition, I have practical
    experience of working as a team leader. I learn fast, responsible and ready
    for complex tasks.
  </p>

  <h2 class="lng-educ">Education</h2>
  <ul class="dot">
    <li>
      <h3 class="lng-vuz">
        T.H. SHEVCHENKO NATIONAL UNIVERSITY CHERNIHIV COLEHIUM (NUCHK)
      </h3>
      <p class="lng-fak">
        Faculty of Physics and Mathematics, specialty: mathematics and
        informatics | Sep 2019 - present
      </p>
    </li>
    <li>
      <h3 class="title-name">GoIT Academy</h3>
      <p>
        Full Stack <span class="lng-develop"> Developer</span> |
        <span class="lng-date">Apr 2022- present</span>
      </p>
    </li>
  </ul>

  <h2 class="lng-proj">Project experience:</h2>
  <ul class="res-content-project">
    <li class="item">
      <a
        href="https://alekseydemydov.github.io/goit-markup-hw-08/"
        target="_blank"
      >
        <img src="./images/webStudio.jpg" alt="WebStudio" width="100%" />
        <p>WebStudio</p>
      </a>
    </li>
    <li class="item">
      <a href="https://alekseydemydov.github.io/hellin/" target="_blank">
        <img src="./images/hellEn.jpg" alt="Hellish English" width="100%" />
        <p>Hellish English</p>
      </a>
    </li>
    <li class="item">
      <a
        href="https://viamur.github.io/Filmoteka-teamwork/index.html"
        target="_blank"
      >
        <img src="./images/filmoteka.jpg" alt="Filmoteka" width="100%" />
        <p>Filmoteka</p>
      </a>
    </li>

    <li class="item">
      <a href="https://kapustka.netlify.app/" target="_blank">
        <img src="./images/kapusta.jpg" alt="Kapusta" width="100%" />
        <p>Kapusta</p>
      </a>
    </li>
  </ul>
  <button type="button" class="lng-btnSendMe btn-send-me" data-modal-open>
    send me
  </button>
</div>
