<div class="res-content">
          <h3>Front-End Developer</h3>
          <h1>Alexey Demydov</h1>

          <h2>Summary</h2>

          <p>
            I am a front-end developer looking for a full-time job in company. I
            have good knowledge of HTML, CSS and JavaScript. In addition, I have
            practical experience of working as a team leader. I learn fast,
            responsible and ready for complex tasks.
          </p>

          <h2>Project experience:</h2>
          <ol>
            <li>
              <a
                href="https://alekseydemydov.github.io/goit-markup-hw-08/"
                target="_blank"
              >
                WebStudio
              </a>
            </li>
            <li>
              <a
                href="https://alekseydemydov.github.io/hellin/"
                target="_blank"
              >
               Hellish English
              </a>
            </li>
            <li>
              <a
                href="https://viamur.github.io/Filmoteka-teamwork/index.html"
                target="_blank"
              >
                Filmoteka
              </a>
            </li>
          </ol>
          <button type="button" class="btn-send-me" data-modal-open>
            send me
          </button>
        </div>
      </div>
    </div>