<div class="footer">
  <h3 class="footer-title">follow me</h3>
  <ul class="footer-link">
    <li>
      <a
        class="footer-link__size-icon"
        href="https://instagram.com/dem__fam?igshid=YmMyMTA2M2Y="
        target="_blank"
      >
        <svg width="44" height="44" class="footer-link__icon">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        class="footer-link__size-icon"
        href="https://www.facebook.com/agdemidof"
        target="_blank"
      >
        <svg width="44" height="44" class="footer-link__icon">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        class="footer-link__size-icon"
        href="https://www.linkedin.com/in/%D0%BE%D0%BB%D0%B5%D0%BA%D1%81%D1%96%D0%B9-%D0%B4%D0%B5%D0%BC%D0%B8%D0%B4%D0%BE%D0%B2-bb4a43244/"
        target="_blank"
      >
        <svg width="44" height="44" class="footer-link__icon">
          <use href="./images/icons.svg#icon-in"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
