<div class="footer">
  <h3 class="footer-title">присоединяйтесь</h3>
  <ul class="footer-link">
    <li>
      <a
        class="footer-link__size-icon"
        href="https://instagram.com/dem__fam?igshid=YmMyMTA2M2Y="
        target="_blank"
      >
        <svg width="44" height="44" class="footer-link__icon">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a class="footer-link__size-icon" href="" target="_blank">
        <svg width="44" height="44" class="footer-link__icon">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a class="footer-link__size-icon" href="" target="_blank">
        <svg width="44" height="44" class="footer-link__icon">
          <use href="./images/icons.svg#icon-in"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
