<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="btn-close-modal" data-modal-close>x</button>
    <form id="rg" class="form">
      <input
        type="text"
        name="name"
        class="lng-name form-control"

        required
      />

      <input
        type="tel"
        name="phone"
        class="lng-number form-control"
      
        pattern="\+?\d{1,4}?[-.\s]?\(?\d{1,3}?\)?[-.\s]?\d{1,4}[-.\s]?\d{1,4}[-.\s]?\d{1,9}"
        title="Phone number must be digits and can contain spaces, dashes, parentheses and can start with +"
        required
      />

      <textarea
      class="lng-textarea"
        type="text"
        name="message"
      
      ></textarea>

      <button type="submit" class="lng-btnSend btn-submit">send</button>
    </form>
  </div>
</div>
