<div class="side-bar">
  <img src="./images/me.jpg" alt="me" class="photo" />
  <div class="side-bar-content">
    <div class="contacts">
      <h2 class="lng-contacts">Contacts</h2>
      <div class="contacts-item">
        <p class="lng-tel">tel:&nbsp</p>
        <a href="tel:+380633697147">+38 063 36 97 147</a>
      </div>
      <div class="contacts-item">
        <p class="lng-mail">mail:&nbsp</p>
        <a href="mailto:agdemidof@gmail.com">agdemidof@gmail.com</a>
      </div>
    </div>
    <div class="tech-skills">
      <h2 class="lng-tech">Tech skills</h2>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>GIT</li>
        <li>JavaScript</li>
        <li>Parcel</li>
      </ul>
    </div>
    <div class="soft-skills">
      <h2 class="lng-soft">Soft skills</h2>
      <ul>
        <li class="lng-one">Ability to work efficiently both individually and in a team</li>
        <li class="lng-two">Creative thinking skills</li>
        <li class="lng-thre">Organizational skills</li>
        <li class="lng-four">Willingness to learn</li>
      </ul>
    </div>
  </div>
</div>
