<div class="side-bar">
  <img src="./images/me.jpg" alt="me" class="photo" />
  <div class="side-bar-content">
    <h2>Contacts</h2>
    <div class="contacts">
      <div class="contacts-item">
        <p>tel:&nbsp</p>
        <a href="tel:+380633697147">+38 063 36 97 147</a>
      </div>
      <div class="contacts-item">
        <p>mail:&nbsp</p>
        <a href="mailto:agdemidof@gmail.com">agdemidof@gmail.com</a>
      </div>
    </div>
    <h2>Tech skills</h2>
    <ul>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>GIT</li>
      <li>JavaScript</li>
      <li>Parcel</li>
    </ul>
    <h2>Soft skills</h2>
    <ul>
      <li>Ability to work efficiently both individually and in a team</li>
      <li>Creative thinking skills</li>
      <li>Organizational skills</li>
      <li>Willingness to learn</li>
    </ul>
  </div>
</div>
